services:
  webapp:
    build: .
    ports:
      - "5000:5000"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
  redis:
    image: "redis:alpine"
    ports: 
      - "6379:6379"
    hostname: redis
    volumes:
      - redis-data:/data 

volumes:
  redis-data:
    driver: local